[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
flake8 = "*"
pyjwt = "*"
django-cors-headers = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.10"
